#user {
  background-image: url("/static/images/code.png");
  height: auto;
  min-height: 250px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 680px) {
    min-height: 420px;
  }

  .uk-overlay-primary #user {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }

  .button {
    width: 100% !important;
  }

  .title{
    top: 40%;
bottom: auto;
color: white;
font-family: "Light", sans-serif;
display: flex !important;
margin: 0 auto;
padding: 10px 0;
align-items: center;
justify-content: center;
text-decoration: none;
cursor: pointer;
box-sizing: border-box;
  }
}
